.banner{
    min-height:100vh;
    /* The image used */
    background-image: url("../img/bg.jpg");
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    /* Prevent image from repeating */
    background-repeat: no-repeat;
    background-color: grey;
    background-blend-mode: multiply;
    text-align:center;
}


.profile_pic{
    width:200px;
    height:200px;
    border-radius:50%;
}
.profile{
    text-align:center;
    
}
.info{
    font-weight:bold;
    color:white;
}
.logo_pic{
    width:200px;
}
.logo{
    text-align:center;
}
.custom_button{
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
    border-radius: 12px;
    /* max-width:200px; */
    font-weight:bolder
}
.btn-black{
    border: solid 1px #494F55;
    color: #494F55;
}
.btn-black:hover{
    background-color: #494F55;
    color: white;
}
.btn-white:hover{
    background-color: white;
    color: #494F55;

}
.btn-white{
    border: solid 1px white;
    color: white;
}
.full-height{
    min-height:100vh;
}

body{
    background-image: linear-gradient(to right, #DECBA4, #3E5151);
}