<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>AI 4 Local</title>
</head>

<body>
    {% extends 'base.html' %}

    {% block content %}
    <div class="section d-flex justify-content-center align-items-center full-height">
        <div class="container card m-2 mt-5 p-5 " data-aos="fade-up"
        data-aos-duration="1000">
            <form action="form" method="post" enctype="multipart/form-data">
                <h2>We appreciate the time you're taking to share your feedback! ❤</h2>
                <div class="form-group">
                    <label for="nameInput">Name</label>
                    <input name="name" type="text" class="form-control" id="nameInput" aria-describedby="optionalLabel"
                        placeholder="John Doe">
                    <small id="optionalLabel" class="form-text text-muted">Optional</small>
                </div>
                <div class="form-group">
                    <label for="selectAspect">What is your feedback about?</label>
                    <select class="form-control" id="selectAspect" name="aspect">
                        <option>Product</option>
                        <option>Service</option>
                    </select>
                </div>
                <div class="form-group">

                    <input type="file" name="image" class="form-control-file" name="picture">
                
                  </div>
                <div class="form-group">
                    <label for="feedbackInput">Feedback</label>
                    <textarea name="feedback" class="form-control" id="feedbackInput" rows="3"
                        aria-describedby="optionalLabel"></textarea>
                    <small id="optionalLabel" class="form-text text-muted">Write to your heart content</small>
                </div>

                <button type="submit" class="btn btn-success">Help us to Improve 😍</button>
                <small id="optionalLabel" class="form-text text-danger">{{error}}</small>
            </form>
        </div>
        
    </div>

    </section>
    {% endblock %}
</body>

</html>